<a href="https://colab.research.google.com/github/DavidRodrigues001/Aulas-de-Programacao/blob/main/Aula_Inicial_Algoritmo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula programação Variavel

In [ ]:
print("Ola, Pessoal") #Imprimir texto
print(8 + 10) #Imprimir operação
print(8 , '10') #IComcatenando texto e número

Ola, Pessoal
18
8 10

In [ ]:
#Sabendo que os opertadores matemáticos são
# + - / *
# Imprima um exemplo de cada operação.

In [ ]:
print(8+10)
print(8*10)
print(8/10)
print(8-10)

18
80
0.8
-2

In [ ]:
#Tipos de dados
print(type(7)) #Tipos inteiros
print(type(2.0))#Pontos flutuantes(ou float)
print(type('Maçã'))#string(Cadeia de caracteres)
print(type(5>20))#booleanos(bool)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Variáveis

In [ ]:
a = 42
print(a)
a = 35
print(a)
a = 'Tapioca' #Essa troca de tipo de dado, é devido a tipagem de python
print(a)

42
35
Tapioca

In [ ]:
a = 10
b = 20
#Fação as 4 operações matemática com a e b
print(a + b)
print(a * b)
print(a - b)
print(a / b)

30
200
-10
0.5

In [ ]:
a = 25
b = 33
c = 12



print(a + b / c)
print((a + b) /c )
print(a + (b/c) )

27.75
4.833333333333333
27.75

In [ ]:
#Crie  tres variaveis para receber as notas de um aluno
# o algoritmo de ve retornar a média do aluno

a=5
b=7
c=8

M=(a+b+c)

print(M)

In [ ]:
#Entrada de dados
nome= input('Digite seu nome:')
print('ola, '+ nome)

In [ ]:
#recebe idade e multiplica por 3
idade= int(input('Digite sua idade: '))
print(idade * 3)

In [ ]:
#Recebe um raio de um circulo e calcula sua área
#área= pi vezes o raio ao quadrado
raio= int(input('Digite o raio: '))
area = 3.14 * (raio * raio)
print(area)

Digite o raio: 5
78.5

In [ ]:
#Refatoração
import math
raio= int(input('Digite o raio: '))
area = math.pi *(raio ** 2)
print(f"{area:.2f}")

Digite o raio: 5
78.54